*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section#fondo-animado{
width: 100%;
height: 100vh;
color: #fff;
background: linear-gradient(-45deg, #F9C941, #FFD661, #FFE69E );
}

header{
    width: 960px;
    height: 70px;
    background-color: #fcba03;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#logo{
    width: 200px;
    height: 70px;
    background-color:blue ;
    float: left;
}


#botonera_principal{
    width: 760px;
    height: 70px;
    background-color: #F9C941 ;
    float: right;
}

.menu{
    list-style: none;
    padding: 0;
    background: ;
    width: ;
    max-width: ;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: chocolate;
}

section#contenido_principal{
    width: 960px;
    height: 800px;
    background-color: #8A6E1D;
    margin-left: auto;
    margin-right: auto;
}

#imagen1{
    width: 350px;
    height: 300px;
    background-color: seagreen;
    float: left;
    margin-bottom: 10px;
    background-image: url(img/imagen\ 2.jpg);
    background-size: cover;

}

#presentacion{
    width: 600px;
    height: 300px;
    background-color: rgb(191, 137, 38);
    float: right;
    margin-bottom: 10px;
    
    text-align:center;
    justify-content: center;

}



@font-face {
    src: url(fuente/TheValentine.ttf);
    font-family: TheValentine;
}


.tipografia_presentacion{
    color: black;
}

body{
    font-family: TheValentine;
    font-size: 27px;
    color: #808080;
}


#texto_contenido{
    width: 250px;
    height: 300px;
    background-color:  rgb(191, 137, 38);
    float: left;
    margin-right: 10px;
    margin-right: 10px;
    font-family: TheValentine;
    font-size: 24px;
    color: #ffffff;
    text-align:center;
}

#imagen2{
    width: 440px;
    height: 300px;
    float: left;
    background-color: black;

}

#frase_importante{
    width: 250px;
    height: 300px;
    background-color:  rgb(191, 137, 38);
    float: right;
    margin-bottom: 10px;
    text-align:center;
}

#imagenaside{
    width: 960px;
    height: 170px;
    background-color: black;
    clear: both ;  
    margin-bottom: 10px; 
    background-image: url(img/aside.jpg);
    background-size: cover; 
}

footer{
    width: 960px;
    height: 180px;
    background-color: rgb(191, 137, 38);
    margin-left: auto;
    margin-right: auto;
}

#mapa{
    width: 300px;
    height: 180px;
    background-color: blueviolet;
    float: left;
}

#datos{
    width: 300px;
    height: 180px;
    background-color: rgb(191, 137, 38);
    float: left;
}

#datos p{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes{
    width: 350px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    float: right;
    display: block;
    text-decoration: none;

}

.RedesSociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.RedesSociales li{
    align-items: center;
    margin: 0 10px;
}

.RedesSociales a{
    text-decoration: none;
    color: #fff;
}

.RedesSociales a i{
    font-size:  1.5rem;
    transition: color .4s ease;
}

.RedesSociales a:hover i{
    color: #F9C941;
}


#MielCayendo{
    width: 350px;
    height: 145px;
    background-color: rgb(0, 0, 0);
    float: right;
    display: block;
    text-decoration: none;
    background-image: url(img/miel\ cayendo.gif);
    background-size: cover; 
}